.swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide img {
    display: block;
    width: 100%;
}
.swiper-slide-prev,.swiper-slide-active,.swiper-slide-next,.swiper-slide-shadow-left,.swiper-slide-shadow-right{
    border-radius: 25px !important;
    border-top: 1px solid grey;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.swiper-slide-shadow-left,.swiper-slide-shadow-right{
    background-image: linear-gradient(to left, rgba(255,143,0, 0.2),rgba(0,0,0,0)) !important;
}
